{%extends 'dummy1.html' %}

{% block title %}
<title>home</title>
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}

{% else %}
<!--Video-->
<div class="hero" id="vd">
  <video autoplay loop muted plays-inline class="back-video" poster="https://img1.hscicdn.com/image/upload/f_auto/lsci/db/PICTURES/CMS/252900/252938.jpg">
    <source src="../media/yt5s.io-Dhoni meets Sulthana __ MSD Tribute __ KGF __ Dhoni WhatsApp Status Tamil-(1080p60).mp4" type="video/mp4">
  </video>
  <div class="content">
    <h1 id="vd">M.s Dhoni</h1>
    <p>Mahendra Singh Dhoni is an Indian professional cricketer. He was captain of the Indian national team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014. Dhoni is widely considered one of the greatest cricket captains, wicket-keeper-batsman and finishers in the history of cricket.</p>
   <a href="https://www.hotstar.com/in/movies/ms-dhoni-the-untold-story/1000164358/watch?filters=content_type%3Dmovie" target="_self"><div class="watch-now"><i class="fas fa-caret-right"> watch - now</i></div></a>
  </div>
</div>
<!--Video end-->
{% endif %}
<!-- Background image -->
<div id="lines">
  <!--movies-->
<h3>Channels</h3>
<div class="container-fluied" style="height:0px;margin-bottom:150px">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/browse/category?tray_id=1260003991&tray_title=Hotstar+Specials"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/5227/1535227-a-93d6f25ed745" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/browse/category?tray_id=895&tray_title=Asianet"> <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/4921/1424921-a-209a2f2e2af7" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/browse/category?tray_id=822&tray_title=Star+World"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/4956/1424956-a-5e7b10f2c22a" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/browse/category?tray_id=10403&tray_title=Select+Picks"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/4934/1424934-a-03765ec160a2" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/browse/category?tray_id=10183&tray_title=Star+Sports+1"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/4942/1424942-a-6e211260a748" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <a href="https://www.hotstar.com/in/browse/category?tray_id=1260130043&tray_title=Tastemade"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/1033/1471033-a-850ed7e41ac7" class="img"></a>
    </div>
    
  </div>
</div>
<!--end-->

<!--2 nd Line-->
<h3>Blockbustur on hotstar</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/9D765C6E-DCB6-4D3F-BF5B-8F7FCEEB65CE/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/58873AFE-D16F-4ADD-8EA7-658462587A83/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/C6D49DC4-C4D5-495B-86C5-AA6EC41CE315/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/FD0ED325-4244-4437-877B-73AB859A1238/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/56FEEDB4-250A-4718-B3BF-F04E204BEBE6/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/34171E31-9E91-4567-8E6F-F6B81B2A481D/0-2x3.jpg?width=240" class="img">
    </div>
  </div>
</div>
<!--End 2nd-->

<h3>Latest Releses</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/movies/businessman/1260117917?filters=content_type%3Dmovie"><img src="../media/r1c1.png" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/movies/avatar-the-way-of-water/1260142021?filters=content_type%3Dmovie"> <img src="../media/r1c2.png" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/movies/mission-mangal/1260011536?filters=content_type%3Dmovie"><img src="../media/r1c3.png" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/movies/the-legend/1260132510?filters=content_type%3Dmovie"><img src="../media/r1c4.png" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/movies/baahubali-2-the-conclusion/1770016137?filters=content_type%3Dmovie"><img src="../media/r1c5.png" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <a href="https://www.hotstar.com/in/movies/ib71/1260143875?filters=content_type%3Dmovie"><img src="../media/r1c6.png" class="img"></a>
    </div>
    
  </div>
</div>
<!--2 nd Line-->
<h3>Free Movies</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/BDB45E67-D4F1-4514-B186-A8C0B4CEBE48/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/FFA1C59B-7E6C-4255-8847-202A414580B9/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/9150A408-48BB-4094-93E8-2DA973B6B574/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/103DD9F8-A9E7-414E-97F5-DE5BD506FAA0/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/CC94BA13-13D3-4851-AC4A-BDE1EB8B1C58/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/00DFAF5E-8FC5-4BFE-9267-FB3299A9F2CB/0-2x3.jpg?width=240" class="img">
    </div>
  </div>
</div>
<!--End 2nd-->
<!-- 3 Line-->
<h3>Celebrating Friendship</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/5DB408A5-20C9-4CA7-B59C-0290AC809635/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/73830D38-C02F-4B96-9E67-EA5034FA7432/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/FE88FDDA-88F4-4BC1-9FF7-57C091AEABA4/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/37BA7292-BFA6-4B9E-8B08-9714B147136A/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/B51E4D07-4B14-4873-ABA4-9B65C7D006CB/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/9150A408-48BB-4094-93E8-2DA973B6B574/0-2x3.jpg?width=240" class="img">
    </div>
    
  </div>
</div>
<!--End 3-->
<!-- 4 Line-->
<h3>Global Hits in Telugu</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/A39A2B28-58C3-48CE-8DC7-DED9665C5AEA/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/CA486DDB-1D66-4A3B-B4A6-217A6F579452/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/6E5A343C-4130-496E-8270-7B5435DD5560/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/1D5A7034-92C1-4000-A4E4-5BD03B4B05FF/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/FA687A1D-8C6D-4E86-804C-881C017488A8/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/ADA766AE-64D6-4C2E-AA1E-8AADCFFB9C55/0-2x3.jpg?width=240" class="img">
    </div>
    
  </div>
</div>
<!--End 4-->
<!--5 nd Line-->
<h3>Political Thrillers</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/490E7C43-8153-4EE7-B520-7E2B81CCC002/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/23F90041-A0B1-4DEB-AA78-D2CB0716DBDE/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/EE780519-CE66-4E9B-9D3A-342B9648F75F/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/048FE0FE-8FFA-44AC-B0EB-7486862DEC6F/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://image-resizer-cloud-api.akamaized.net/image/EEE6F0E1-9434-46E7-9E69-40F94680167A/0-2x3.jpg?width=240" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/FE88FDDA-88F4-4BC1-9FF7-57C091AEABA4/0-2x3.jpg?width=240" class="img">
    </div>
  </div>
</div>
<!--End nd-->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom foot">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Disney hotstar
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Popular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Shows</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Events</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Organisations</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Entertainment</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@movies.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://hotstar.com/">hotstar.com</a>
    <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/v1661346101/google-playstore" alt="" srcset=""><br><br>
    <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/v1661346071/ios-appstore" alt="" srcset="">
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<style>
  .img
  {
    border-radius:20px;
    width:180px;
  }
  .img:hover
  {
    cursor: pointer;
    transform: scale(1.1);
  }
  body
  {
    background-image: linear-gradient(180deg,rgba(11, 11, 11, 0.9),rgba(7, 7, 7),rgb(10, 10, 10));
  }
  h3
  {
    color:white;
    text-align: center;
  }
  .hero
  {
    margin-left: 35vh;
    width:84%;
    height:101vh;
    background-image: linear-gradient(90deg,rgba(11, 11, 11, 0.9),rgba(7, 7, 7, 0.5),rgb(10, 10, 10,0.1));
    padding: 0 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter',sans-serif;
    overflow: hidden;

  }
  .content
  {
    text-align: left;
    height:50vh;
    width:500px;
    position: absolute;
    left: 0px;
    margin-left: 30px;
  }
  .content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 700;
   }
   .content h1:hover{
    -webkit-text-stroke: 4px #fff;
    color: transparent;

   }
   p a,p
   {
    color: #fff;
    font-size: 15px;
   }
   .back-video
   {
    width:186vh;
    height:300vh;
    background-size: cover;
    position: absolute;
    left:0;
    top: -100%;
    z-index: -1;
   }
   .watch-now
   {
    height: 50px;
    width:350px;
    background: transparent;
    backdrop-filter: blur(1000px);
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
   }
   .foot
   {
    background-color: black;
   }
   h3{
    margin:30px;
   }
   h3:hover{
    transform: scale(1.1);
   }
</style>
{% endblock %}