{% extends 'dummy1.html' %}

{% block title %}
<title>sports</title>
{% endblock %}

{% block body_block %}
<!-- Carousel wrapper -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark siri" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="1"
        aria-label="Slide 1"
      ></button>
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="2"
        aria-label="Slide 1"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/3928/1563928-i-c81661c9c8cd" class="d-block w-100" alt="Motorbike Smoke"/>
        <div class="carousel-caption d-none d-md-block">
          <h1>Ravindra Jadeja Reflexct's on Indian Team</h1>
          <p>Ravindrasinh Anirudhsinh Jadeja, commonly known as Ravindra Jadeja, is an Indian international cricketer who represents the Indian national cricket team in all formats. He is an all-rounder, who bats left-handed and bowls left-arm orthodox spin. Wikipedia</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/3390/1563390-i-831b1d843c99" class="d-block w-100" alt="Mountaintop"/>
        <div class="carousel-caption d-none d-md-block">
          <h1>IND VS WI</h1>
          <p>HIGHLIGHTS | IND VS WI, 2nd ODI Full Scorecard: WI Win, Level Series 1-1
            India Vs West Indies, 2nd ODI LIVE Cricket Scorecard and Updates: Hardik Pandya-led India lose to West Indies by 6 wickets in the 2nd ODI as the series is now level 1-1.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/3841/1563841-i-8a6c8c45d6da" class="d-block w-100" alt="Woman Reading a Book"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Budjet forword in FTI</h5>
          <p>Man Utd transfer news LIVE: £50m Liverpool hijack, Hojlund medical, Greenwood announcement
            Manchester United transfer news continues to hot up and Express Sport brings you the latest in our live blog.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->


  <!-- 1 Line-->
<div class="king">
<h3>Channels</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/sports/football/tournament/premier-league?filters=sport_tournament_type%3Dpremier_league"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2935/1562935-a-6685a1c147e4" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/sports/cricket/tournament/asia-cup?filters=sport_tournament_type%3Dasia_cup"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2937/1562937-a-174d50e3d191" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/sports/cricket/tournament/icc-cricket-world-cup?filters=sport_tournament_type%3Dicc_cricket_world_cup"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2941/1562941-a-6d7442cecdeb" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
         <a href="https://www.hotstar.com/in/sports/mixed-martial-arts/tournament/matrix-fight-night?filters=sport_tournament_type%3Dmatrix_fight_night"> <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2936/1562936-a-a0e6df63ce87" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <a href="https://www.hotstar.com/in/sports/kabaddi/tournament/pro-kabaddi?filters=sport_tournament_type%3Dpro_kabaddi"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2940/1562940-a-63266c2f7712" class="img"></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <a href="https://www.hotstar.com/in/sports/football/tournament/indian-super-league?filters=sport_tournament_type%3Dindian_super_league"><img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/2939/1562939-a-76fc2bfd5bd3" class="img"></a>
    </div>
  </div>
</div>
<!--End 1nd-->
<!-- 2 Line-->
<h3>Top News</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3388/1563388-h-a4b18746d014" class="img" >
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3068/1563068-h-2bce7e2e7baa" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2173/1562173-h-4374b7d34474" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2076/1562076-h-2c88486c7942" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/264/1560264-h-edb845a0e170" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/269/1560269-h-57cb9852a6a2" class="img">
    </div>
  </div>
</div>
<!--End 2-->
<!-- 3 Line-->
<h3>Premier league Specials</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3945/1563945-h-18d49bc36910" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3840/1563840-h-e810556ae5a1" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2070/1562070-h-e19057338287" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3522/1563522-h-b7e0a5e7e5e9" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5127/1555127-h-65002678d8e3" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/1357/1551357-h-41f3ebb57ff0" class="img">
    </div>
  </div>
</div>
<!-- 3 end-->
<!-- 4-->
<h3>Upcoming star on action</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5608/1495608-h-4d0daa07c335" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5611/1495611-h-a698290f7c61" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/4150/1544150-h-619438017cd4" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/4178/1544178-h-dbb510ecd899" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2641/1452641-h-468e5d7903b2" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/9243/1459243-h-bb502160f412" class="img">
    </div>
  </div>
</div>
<!-- 4-->
<!-- 5Line-->
<h3>Follow The Blue's</h3>
<div class="container-fluied" style="margin-right:-500px;">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/4901/1534901-v-e47e855f07d6" class="img" >
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/9584/1529584-v-9199fddb2c7e" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/8061/1528061-v-266b6a2aa652" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/9583/1529583-v-6b06669b64fc" class="img">
      </div>
  </div>
</div>
<!--End 5-->
<!-- 6 Line-->
<h3>Matrix night fight</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/6214/1546214-h-8ab2dabecc93" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7812/1547812-h-7c758473b428" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7805/1547805-h-1bc279a2d189" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7805/1547805-h-1bc279a2d189" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7805/1547805-h-1bc279a2d189" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7808/1547808-h-0bc2b79d2ff8" class="img">
    </div>
  </div>
</div>
<!-- end 6-->
<!-- 7 Line-->
<h3>Top Replays</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3200/1563200-h-1f5418ccf143" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3119/1563119-h-d23b7d45f094" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5135/1555135-h-a4e381e2d534" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3039/1563039-h-59745b493455" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5135/1555135-h-a4e381e2d534" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/4928/1554928-h-87dc1592b86d" class="img">
    </div>
  </div>
</div>
</div>
<!--End 7-->
<!-- 2 Line-->
<h3>Top News</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3388/1563388-h-a4b18746d014" class="img" >
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3068/1563068-h-2bce7e2e7baa" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2173/1562173-h-4374b7d34474" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2076/1562076-h-2c88486c7942" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/264/1560264-h-edb845a0e170" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/269/1560269-h-57cb9852a6a2" class="img">
    </div>
  </div>
</div>
<!--End 2-->
<!-- 3 Line-->
<h3>Premier league Specials</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3945/1563945-h-18d49bc36910" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3840/1563840-h-e810556ae5a1" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2070/1562070-h-e19057338287" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3522/1563522-h-b7e0a5e7e5e9" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5127/1555127-h-65002678d8e3" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/1357/1551357-h-41f3ebb57ff0" class="img">
    </div>
  </div>
</div>
<!-- 3 end-->
<!-- 4-->
<h3>Upcoming star on action</h3>
<div class="container-fluied">
  <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5608/1495608-h-4d0daa07c335" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/5611/1495611-h-a698290f7c61" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/4150/1544150-h-619438017cd4" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/4178/1544178-h-dbb510ecd899" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/2641/1452641-h-468e5d7903b2" class="img">
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/9243/1459243-h-bb502160f412" class="img">
    </div>
  </div>
</div>
<!-- 4-->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom foot">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Disney hotstar
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Popular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Shows</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Events</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Organisations</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Entertainment</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@movies.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://hotstar.com/">hotstar.com</a>
    <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/v1661346101/google-playstore" alt="" srcset=""><br><br>
    <img src="https://img1.hotstarext.com/image/upload/f_auto,q_90,w_256/v1661346071/ios-appstore" alt="" srcset="">
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
  <style>
    .siri{
        width:1130px;
        margin-left:220px;
    }
    h1,p{
        backdrop-filter: blur(5px);
        color: #070000;
    }
    .king{
        margin-left: 220px;
    }
    .img
  {
    border-radius:20px;
    width:180px;
  }
  .img:hover
  {
    cursor: pointer;
    transform: scale(1.1);
  }
  body
  {
    background-image: linear-gradient(180deg,rgba(11, 11, 11, 0.9),rgba(7, 7, 7),rgb(10, 10, 10));
    width:1330px;
  }
  h3
  {
    color:white;
    text-align: center;
    margin: 20px;
  }
  .foot
   {
    background-color: black;
    color: aliceblue;
    margin-left: 200px;
   }
   p a,p
   {
    color: #fff;
    font-size: 15px;
   }
  </style>
{% endblock %}